.content {
  margin-top: 100px;
  padding-bottom: 50px;

  @media screen and (max-width: 700px) {
    margin-top: 30px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .cards {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
  }
}
